.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  text-decoration: none;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .footer__links {
      flex-direction: column;
      margin-bottom: 46px;
      gap: 32px;
  }
}